The following are required to run JeoparPy:
  -Python (http://www.python.org/download/)
  -Pygame (http://www.pygame.org/download.shtml)

Please note that the game has only been tested with:
  Python 2.7.3 32-bit
  Pygame 1.9.2 32-bit

JeoparPy has been tested on the following platforms:
  Windows 7 64-bit
  Ubuntu 10.10